<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AUREON{% endblock %}</title>

    <!-- Favicon global -->
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Estilos globales -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    {% block extra_css %}{% endblock %}
</head>
<body>

    {% block content %}{% endblock %}

    <!-- JS Global -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    {% block extra_js %}{% endblock %}

</body>
</html>
